.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.DS_Store
*.Rproj
site
workshop-may-2020
CRiP-sept-2020/_site
workshop-may-2020/_site
README.html
README.Rmd
site/_site
trash
docs.zip
rcourse/favourite_colour.csv
.docs
.docs.zip
